VITE_CONFIGS='{
  "my-machine": {
    "host": "<YOUR_MACHINE_HOST>",
    "partId": "<YOUR_PART_ID>",
    "apiKeyId": "<YOUR_API_KEY_ID>",
    "apiKeyValue": "<YOUR_API_KEY_VALUE>",
    "signalingAddress": "https://app.viam.com:443"
  }
}'