# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
.changeset

# Protobuf
draw/v1
src/lib/buf

# Docs
docs/.astro
docs/public/playground
docs/dist
docs/src/content/docs/api

# Snapshots
draw/__snapshots__
e2e/*.ts-snapshots 

# IDE
.cursor